@charset "UTF-8";
@import "cores.css";

body{
    background-color: var(--cor5);
    margin: 0%;
}
.imagem1{
    width:auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    padding-left: 20%;
    padding-top: 10%;
}

.nome{
    font-size: 35px;
    color: var(--cor7);
}

.right{
    text-align: center;
    float: right;
    align-items: center;
    padding-right: 20%;
    padding-top: 10%;
}

/*localização do botão*/

button{
    padding-top: 10%;
}

button.github{
    margin-left: 20px; /*espaço entre os botões*/
}

/*estilização do botão*/

.redes_sociais button, .redes_sociais button a:visited{ /*a:visited = para não mostrar a cor azul quando clicado*/
    font-size: 15px;
    font-weight: bold;
    color: var(--cor7);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--cor4);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px #888888;
}

/*efeito botão*/
.redes_sociais button:hover, .redes_sociais button:hover > a:visited{ 
    background-color: var(--cor7);
    color: var(--cor6);
}

@media (max-width: 600px){
    .imagem1{
        display: block;
        width: 50%;
        height: auto;
    }
}

