@charset "UTF-8";
@import "cores.css";

@font-face {
    font-family: 'Rustling' ;
    src: url('../fontes/Rustling\ Sound.ttf') format('truetype');
}

/*Header*/
#cabecalho{
    background-color: var(--cor7);
}

/*logo*/
#logo{   
    margin: 0 1rem;
    padding: 5px; 
}

/*menu*/
#menu a{
    color: var(--cor5);
    font-weight: bold;
    padding: 1rem 2rem;
}

/*Coloca cor de fundo e sublinhado no menu da página atual*/
.nav-pills .nav-link.active.menu-item-color, .nav-pills .show>.nav-link.menu-item-color{
    background-color: var(--cor4);
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

/*Remover o sublinhado do link*/
a:link{ 
    text-decoration: none;
}

@media (max-width: 600px){
    #logo{
        display: block;
        width: 50%;
        padding: 5px;
    }
}

/*Footer*/
#footer{
    background-color: var(--cor7);
    text-align: center;
}

#footer .text {
    color: var(--cor5);
    font-family: 'Rustling' ;
    font-size: 20px;
    text-align: center;
}



