<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {% block title %}
    <title>Início</title>
    {% endblock %}

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap/icons-1.6.1/font/bootstrap-icons.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/header_footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/body.css')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='imagens/icon.png')}}">

</head>
<body id="corpo">
    <div id="cabecalho">
        <header class="d-flex flex-wrap justify-content-center p-3 border-bottom align-items-center">
            <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
                <img id="logo" src="../static/imagens/logo.png" alt="Logo">
            </a>
            <ul class="nav nav-pills" id="menu">
                <li class="nav-item">
                    <a href="#" class="nav-link active menu-item-color">Início</a>
                </li>
                <li class="nav-item">
                    <a href="sobre.html" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                    <a href="projetos.html" class="nav-link">Projetos</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="py-3 bg-white"></div>
    {% block conteudo %}
    {% endblock %}

    {% block footer %}
    <footer id="footer" class="no-padding-small mt-auto py-3 fixed-bottom">
        <div class="container no-padding-small">
            <a href="index.html" class="text">by Élen Petri</a>
        </div>
    </footer>
    {% endblock %}

</body>
</html>