<!DOCTYPE html>
<html lang="pt-br" pagina="{{pagina_selecionada}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {% block title %}
    <title>Início</title>
    {% endblock %}

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap/icons-1.6.1/font/bootstrap-icons.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/header_footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/body.css')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='imagens/icon.ico')}}">

</head>
<body id="corpo">
    <div>
        <header class="d-flex flex-wrap justify-content-center p-3 align-items-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
                <img id="logo" src="../static/imagens/logo.png" alt="Logo">
            </a>
            <ul class="nav nav-pills" id="menu">
                <li class="nav-item">
                    {% if  pagina_selecionada == 'inicio' %}
                    <a href="/" class="nav-link active menu-item-color">Início</a>
                    {% else %}
                    <a href="/" class="nav-link">Início</a>
                    {% endif%}
                </li>
                <li class="nav-item">
                    {% if pagina_selecionada == 'sobre' %}
                    <a href="sobre" class="nav-link active menu-item-color">Sobre</a>
                    {% else %}
                    <a href="sobre" class="nav-link">Sobre</a>
                    {% endif %}
                    
                    
                </li>
                <li class="nav-item">
                    {% if pagina_selecionada == 'projetos' %}
                    <a href="projetos" class="nav-link active menu-item-color">Projetos</a>
                    {% else %}
                    <a href="projetos" class="nav-link">Projetos</a>
                    {% endif %}
                    
                </li>
            </ul>
        </header>
    </div>
    {% block conteudo %}
    {% endblock %}

   
    {% if pagina_selecionada == 'inicio' %}
    <footer id="footer" class="no-padding-small mt-auto py-3 fixed-bottom">
        <div class="container no-padding-small">
            <a href="/" class="text-name">by <span class="inicial">É</span>len <span class="inicial">P</span>etri</a>
            <p class="text">Feito com 
                <i class="bi bi-heart-fill"></i>
            </p>
        </div>
    </footer>
    {% else %}
    <footer id="footer" class="no-padding-small mt-auto py-3 position-relative">
        <div class="container no-padding-small">
            <a href="/" class="text-name">by <span class="inicial">É</span>len <span class="inicial">P</span>etri</a>
            <p class="text">Feito com 
                <i class="bi bi-heart-fill"></i>
            </p>
        </div>
    </footer>
    {% endif %}

</body>
</html>