{% extends 'base.html' %}

{% block conteudo%}
<div class="align-items-body">
    <div class="my-auto flex-wrap g-0  d-flex justify-content-around">
        <div class="d-flex flex-wrap justify-content-around no-padding-small">
            <div class="imagem-home col d-flex justify-content-center">
                <img class="imagem1" src="../static/imagens/imagem_autora_1.png" alt="Imagem da autora">
            </div>
            <div class="col row no-padding-small d-flex">
                <div class=" texto row no-padding-small justify-content-center text-center">
                    <h1 id="nome" class="no-padding-small">Élen Petri</h1>
                    <h2 id="texto" class="no-padding-small">Estudante de Desenvolvimento de Software Multiplataforma
                    </h2>
                    <span id="redes_sociais" class="no-padding-small pb-3">
                        <button type="button" title="Linkedin">
                            <a href="https://www.linkedin.com/in/elen-petri/" target="_blank">LINKEDIN</a>
                        </button>
                        <button type="button">
                            <a href="https://github.com/elenpetri" target="_blank" title="GitHub">GITHUB</a>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}