{% extends 'base.html' %}

{% block conteudo%}
        <h1 id="titulo" class="pt-2">Meus projetos</h1>

        <div class="my-auto flex-wrap g-0 d-flex justify-content-around px-3">
            <div class="d-flex flex-wrap justify-content-around no-padding-small">
                <div class="col d-flex col-lg-3 col-12 justify-content-around">
                    <img class="img-projeto pt-2" src="../static/imagens/projeto1.png" alt="Imagem do Projeto Site institucional">
                </div>
                <div class="col row no-padding-small d-flex py-3 mx-0 me-0 projeto">
                    <div class="no-padding-small justify-content col-lg-10 p-0">
                        <div class="descricaoprojeto">
                            <h1 id="projeto1" class="px-lg-2 row mx-3 me-0 no-padding-small"> Aplicação de informações para a Faculdade de tecnologia de SJC (Fatec) </h1>
                            <p class="px-lg-2 row mx-3 no-padding-small descricaoprojeto">O objetivo do projeto se baseou no problema que começou devido a pandemia do novo Coronavirus. O volume de informações da parte administrativa trocadas com os alunos e professores através do e-mail vieram tendo um aumento significativo fazendo com que muitas informações importantes passassem a ser lidas fora do seu tempo apropriado, ou seja, perda informações importantes. Para solucionar esse problema decidimos criar uma aplicação web onde os docentes e discentes possam ver as informações de forma seletiva e controlada, sendo eles avisos gerais ou específicos dos cursos.</p>
                            <p class="mx-4 status"> <b>Status:</b> Finalizado 
                                <i class="bi bi-star-fill"></i>
                        </div>
                            <button type="button" class="projeto mx-3 me-0 botao_saibamais">
                                <a href="https://github.com/T3chnogroup/Projeto-InFatec" target="_blank">Saiba mais</a>
                            </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-auto flex-wrap g-0 d-flex justify-content-around px-3">
            <div class="d-flex flex-wrap justify-content-around no-padding-small">
                <div class="col d-flex col-lg-3 col-12 justify-content-around">
                    <img class="img-projeto pt-2" src="../static/imagens/projeto2.png" alt="Imagem do Projeto Página pessoal">
                </div>
                <div class="col row no-padding-small d-flex py-3 mx-0 me-0 projeto">
                    <div class="no-padding-small justify-content col-lg-10 p-0">
                        <div class="descricaoprojeto">
                            <h1 id="projeto2" class="px-lg-2  mx-3 me-0 no-padding-small">Portfolio </h1>
                            <p class="px-lg-2 row mx-3 no-padding-small descricaoprojeto">Projeto desenvolvido para a disciplina de Design Digital da faculdade Fatec de SJC que tem como objetivo o desenvolvimento de um sistema responsivo para Internet que sirva como uma página pessoal onde possam ser encontradas informações tais como: dados, imagem, informações educacionais e projetos do autor da aplicação.</p>
                            <p class="mx-4 status"> <b>Status:</b> Finalizado 
                                <i class="bi bi-star-fill"></i>
                            </p>
                        </div>
                            <button type="button" class="projeto mx-3 me-0 botao_saibamais">
                                <a href="https://github.com/elenpetri/Portfolio" target="_blank">Saiba mais</a>
                            </button>
                    </div>
                </div>
            </div>
        </div>

    <div class="my-auto flex-wrap g-0 d-flex justify-content-around px-3 pb-3">
            <div class="d-flex flex-wrap justify-content-around no-padding-small">
                <div class="col d-flex col-lg-3 col-12 justify-content-around">
                    <img class="img-projeto pt-3" src="../static/imagens/projeto3.png" alt="Imagem da autora">
                </div>
                <div class="col row no-padding-small d-flex py-3 mx-0 me-0 projeto">
                    <div class="no-padding-small justify-content col-lg-10 p-0">
                        <div class="descricaoprojeto">
                            <h1 id="projeto3" class="px-lg-2 mx-3 me-0 no-padding-small">Website institucional</h1>
                            <p class="px-lg-2 row mx-3 no-padding-small descricaoprojeto">Website de caráter institucional, projeto desenvolvido para fins didáticos proposto pela Faculdade de Tecnologia de São José dos Campos (FATEC) com o objetivo de solucionar o problema de visibilidade da instituição e atrair mais voluntários/participantes.</p>
                            <p class="mx-4 status"> <b>Status:</b> Finalizado
                                <i class="bi bi-star-fill"></i>
                            </p>
                        </div>
                        <button type="button" class="projeto mx-3 me-0 botao_saibamais">
                            <a href="https://github.com/Xtreme-Equipe/Projeto-Site-Intitucional" target="_blank">Saiba mais</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

