@charset "UTF-8";
@import "../css/cores.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

.align-items-body{/*alinha os itens no meio da tela*/
    padding: 5%;
    margin: auto;
}

#corpo{ /*Cor de fundo*/
    background-color: var(--cor5);
    min-width: 466px;
}

*, ::after, ::before {/*Alinhamento do texto e botões do corpo*/
    box-sizing: unset;
}

.imagem1{
    width:auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

#nome{
    font-size: 50px;
    color: var(--cor7);
    font-family: 'Playfair Display', serif;
}

#texto {
    width: 466px;
}

/*estilização do botão*/

#redes_sociais button,#redes_sociais button a:visited{ /*a:visited = para não mostrar a cor azul quando clicado*/
    font-size: 15px;
    font-weight: bold;
    color: var(--cor7);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--cor4);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    box-shadow: 2px 2px #b3b1b1;
}

#redes_sociais button a{ /*a:visited = para não mostrar a cor azul sem ter clicado*/
    color: var(--cor7);   
}
    
/*efeito botão*/
#redes_sociais button:hover, #redes_sociais button:hover > a:visited, #redes_sociais button:hover > a{ 
    background-color: var(--cor7);
    color: var(--cor6);
}

@media (max-width: 600px){
    .imagem1{
        height: 80%;
    } 
    .no-padding-small {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }

    .footer{
        position: relative;
    }
} 

/*CSS Sobre*/

#corpo-sobre{ /*Cor de fundo*/
    background-color: var(--cor5);
    min-width: 466px;
}

.imagem2{
    width:auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.imagem2:hover{
   filter:opacity(0.70);
   transform: scale(1.1);/*10% de zoom na imagem*/
}

.info-sobre > p{ /*alinhameto dos parágrafos "sobre" em mobile*/
    text-align: justify;
}

#sobre, #infos-educacionais{
    font-size: 2rem;
    color: var(--cor7);
}

#ens_med, #fac1, #fac2{
    font-size: 1.5rem;
    color: var(--cor7);
    max-width: 81%;
    text-align: justify;
}

@media (max-width: 980px){
    .imagem2{
        height: 90%;
    } 
    #sobre { /*alinhameto 'sobre' em mobile*/
        justify-content: space-around;
        text-align: justify;
    }
}

@media (min-width: 980px){ /*Mantém o footer fixo em telas maiores que 980px*/
    .fixed-lg-bottom{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

 /*CSS Projetos*/

 #titulo{
    font-size: 40px;
    color: var(--cor7);
    text-align: center;
}

#projeto1, #projeto2{
    font-size: 40px;
    color: var(--cor7);
}

.textoprojeto > p {
    max-width: 80%;
    text-align: justify;
}

#projeto2{
    flex-wrap: wrap-reverse!important;
}

/*estilização do botão*/

.projeto button.botao_saibamais a:visited, .projeto button.botao_saibamais{ /*a:visited = para não mostrar a cor azul quando clicado*/
    border: 1px solid var(--cor4);
    font-size: 15px;
    font-weight: bold;
    color: var(--cor7);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--cor4);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    box-shadow: 2px 2px #b3b1b1;
}

.projeto button.botao_saibamais a{ /*a:visited = para não mostrar a cor azul sem ter clicado*/
    color: var(--cor7);
}
    
/*efeito botão*/
.projeto button.botao_saibamais:hover, .projeto button.botao_saibamais:hover > a:visited{ 
    background-color: var(--cor7);
    color: var(--cor6);
}

/*CSS Mensagem do botão*/

@media(max-width:600px){
    #saibamais{
        max-width: 100%!important;
    }
    .textoprojeto{
        text-align: center;
    }
}

#saibamais{
    max-width: 30%;
    color: var(--cor4);
    background-color: #92374729;
    border: 0px;
    border-radius: 5px;
}

#saibamais > p{
    font-size: smaller;
}


