@charset "UTF-8";
@import "../css/cores.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

html[pagina = inicio] {
  height: 100%;
}

.align-items-body{/*alinha os itens no meio da tela*/
    padding: 10%;
    margin: auto;
    padding-bottom: 2px;
}

#corpo{ /*Cor de fundo*/
    background: linear-gradient(180deg, rgba(111,34,128,1) 10%, rgba(185,126,158,1) 100%);
    background-repeat: no-repeat;

}

#texto, #redes_sociais, ::after, ::before {/*Alinhamento do texto e botões do corpo*/
    box-sizing: unset;
}

@media (max-width: 750px){
    html{
        height: auto;
    }
    #corpo{
        height: auto;
    } 
}

/*CSS Home*/
#nome{
    font-size: 50px;
    color: var(--cortxtwhite);
    font-family: 'Playfair Display', serif;
}

#texto {
    width: 466px;
    color: var(--cortxtwhite);
}

/*estilização do botão*/

#redes_sociais button,#redes_sociais button a:visited{ /*a:visited = para não mostrar a cor azul quando clicado*/
    background-color: #350D70;
    color: var(--cortxtwhite);
    font-size: 15px;
    font-weight: bold;
    border-radius: 35px;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;    
    box-shadow: 1px 1px #350d701f;
    border-width: 0;
}

#redes_sociais button a{ /*a:visited = para não mostrar a cor azul sem ter clicado*/
    color: var(--corbgmenu);   
    text-decoration: none;
}


#btn-shine-in:hover{
    background: var(--corbtnshine);
    box-shadow: 0 0 5px var(--corbtnshine), 0 0 25px var(--corbtnshine), 
    0 0 50px var(--corbtnshine), 0 0 200px var(--corbtnshine); 
    border-width: 2px;
}

#btn-shine-gh:hover{
    background: var(--corbtnshine);
    box-shadow: 0 0 5px var(--corbtnshine), 0 0 25px var(--corbtnshine), 
    0 0 50px var(--corbtnshine), 0 0 200px var(--corbtnshine);  
    border-width: 2px;
}

@media (max-width: 750px){
    .imagem-home{
        height: 50%;
    }
    .imagem1{
        height: 90%;
    } 
    .no-padding-small {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }

    #nome{
        font-size: xx-large;
    }

    .texto{
        margin: 0%;
    }

    #texto{
        width: 340px;
        font-size: larger;
        padding-bottom: 1rem;
    }
    html[pagina = inicio] {
        height: auto;
      }
} 

/*=====================================================================================================*/
/*CSS Sobre*/

#corpo-sobre{ /*Cor de fundo*/
    min-width: 375px;
}

.imagem2{
    max-width: 300px;
    max-height: 300px;
}

.imagem2:hover{
   filter:opacity(0.70);
   transform: scale(1.1);/*10% de zoom na imagem*/
}

.info-sobre{
    text-align: justify;
}

#sobre, #infos-educacionais, #conhecimento, .texto-info{
    color: var(--cortxtwhite);
}

#ens_med, #fac1, #cursoemvideo{
    font-size: 1.5rem;
    color: var(--corcontrast);
    text-align: justify;
}
.cursotempo{
    font-weight: bold;
    color: var(--corcontrast)
}

.descricaocurso{
    text-align: justify;
}
.topicos{
    font-weight: bold;
}

a{
    color: var(--corcontrast);
    font-weight: bold;
}

a:hover{
    color: var(--corbtnshine);
    font-weight: bold;
}

@media (max-width: 750px){
    #sobre, #infos-educacionais, #conhecimento{
        text-align: center!important;
    }
} 



/*=====================================================================================================*/
 /*CSS Projetos*/

 .img-projeto{
    width:250px;
    height: 250px;
    filter:opacity(0.70);
 }

.img-projeto:hover{
    filter:none;
    transform: scale(1.1);/*10% de zoom na imagem*/
}

 #titulo{
    font-size: 40px;
    color: var(--corprimary);
    text-align: center;
}

#projeto1, #projeto2, #projeto3{
    color: var(--corprimary);
}

.descricaoprojeto > p {
    text-align: justify;
}

.bi-star-half, .bi-star-fill{ /*Cor da estrela em status*/
    color: var(--corprimary);
}


/*estilização do botão*/

.projeto button.botao_saibamais a:visited, .projeto button.botao_saibamais{ /*a:visited = para não mostrar a cor azul quando clicado*/
    font-size: auto;
    font-weight: bold;
    color: var(--corprimary);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--corbgmenu);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    box-shadow: 2px 2px #b3b1b1;
}

.projeto button.botao_saibamais a{ /*a:visited = para não mostrar a cor azul sem ter clicado*/
    color: var(--corprimary);
}
    
/*efeito botão*/
.projeto button.botao_saibamais:hover, .projeto button.botao_saibamais:hover > a:visited, .projeto button.botao_saibamais:hover > a { 
    background-color: var(--corprimary);
    color: var(--cortxtwhite);
}

@media(max-width:800px){
    #projeto1, #projeto2, #projeto3{
        text-align: center;
    }
    .img-projeto{
        filter: none;
        transform: none !important;
        width: 200px;
        height: 200px;
    }
}

#saibamais{
    max-width: 30%;
    color: var(--corbgmenu);
    background-color: #92374729;
    border: 0px;
    border-radius: 5px;
}

#saibamais > p{
    font-size: smaller;
}


