@charset "UTF-8";
@import "../css/cores.css";


.align-items-body{/*alinha os itens no meio da tela*/
    padding: 5%;
    margin: auto;
}

#corpo{ /*Cor de fundo*/
    background-color: var(--cor5);
    min-width: 466px;
}

*, ::after, ::before {/*Alinhamento do texto e botões do corpo*/
    box-sizing: unset;
}

.imagem1{
    width:auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

#nome{
    font-size: 40px;
    color: var(--cor7);
}

#texto {
    width: 466px;
}

/*estilização do botão*/

#redes_sociais button,#redes_sociais button a:visited{ /*a:visited = para não mostrar a cor azul quando clicado*/
    font-size: 15px;
    font-weight: bold;
    color: var(--cor7);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--cor4);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    box-shadow: 2px 2px #b3b1b1;
}

#redes_sociais button a{ /*a:visited = para não mostrar a cor azul sem ter clicado*/
    color: var(--cor7);
    
}
    
/*efeito botão*/
#redes_sociais button:hover, #redes_sociais button:hover > a:visited{ 
    background-color: var(--cor7);
    color: var(--cor6);
}

@media (max-width: 600px){
    .imagem1{
        height: 80%;
    } 
    .no-padding-small {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }

    .footer{
        position: relative;
    }
} 

/*CSS Sobre*/

#corpo-sobre{ /*Cor de fundo*/
    background-color: var(--cor5);
    min-width: 466px;
}

.imagem2{
    width:auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.imagem2:hover{
   filter:opacity(0.70);
   transform: scale(1.1);/*10% de zoom na imagem*/
}


@media (max-width: 600px){
    .imagem2{
        height: 90%;
    } 
}

#sobre, #infos-educacionais{
    font-size: 40px;
    color: var(--cor7);
}

 
 /*CSS Projetos*/
 #titulo{
    font-size: 40px;
    color: var(--cor7);
    text-align: center;
}

#projeto1{
    font-size: 40px;
    color: var(--cor7);
}

/*estilização do botão*/

.projeto button a:visited, .projeto button{ /*a:visited = para não mostrar a cor azul quando clicado*/
    border: 1px solid var(--cor4);
    font-size: 15px;
    font-weight: bold;
    color: var(--cor7);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--cor4);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    box-shadow: 2px 2px #b3b1b1;
}

.projeto button a{ /*a:visited = para não mostrar a cor azul sem ter clicado*/
    color: var(--cor7);
}
    
/*efeito botão*/
.projeto button:hover, .projeto button:hover > a:visited{ 
    background-color: var(--cor7);
    color: var(--cor6);
}




