@charset "UTF-8";
:root{
    --corprimary: #6f2280;/*Cor principal da paleta*/
    --corcontrast: #350D70; /*cor dos textos do menu e do footer*/
    --cortxtwhite: #fff;
    --corbtnshine: #BF4FE0;
}
