@charset "UTF-8";
@import "../css/cores.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#footer{
    font-family: 'Playfair Display', serif;
}

/*logo*/
#logo{   
    margin: 0 1rem;
    padding: 5px; 
}

/*menu*/
#menu a{
    color: var(--cortxtwhite);
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: large;
}

/*Coloca cor de fundo e sublinhado no menu da página atual*/
.nav-pills .nav-link.active.menu-item-color, .nav-pills .show>.nav-link.menu-item-color{
    background-color: transparent;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-color: #BF4FE0;
}

/*Remover o sublinhado do link*/
footer a:link{ 
    text-decoration: none;
}

@media (max-width: 600px){
    #logo{
        display: block;
        padding: 5px;
    }

   #menu a {
     padding: 1rem 1rem;
   }
}

/*Footer*/
#footer{
    background-color: var(--corprimary);
    text-align: center;
}

#footer .text-name {
    color: var(--cortxtwhite);
    font-family: 'Playfair Display', 'serif' ;
    font-size: 20px;
    text-align: center;
}

#footer .text{
    color: var(--cortxtwhite);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
}

#footer .inicial{
    color: var(--coriniciais);
}

@media (max-width: 750px){
    #footer{
        position: relative;
    }
}

@media (min-width: 750px){
    #footer{
        position: fixed;
    }
}


